<section id="activities">
	<h3 class="section-title">{{ 'LANDING.ACTIVITIES'|t }}</h3>
	<div class="activities-wrapper maxwidth">
		<figure class="activity">
			<a class="activity-link" href="#">
				<div class="activities-image">
					<div class="activities-gear"></div>
					<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
				</div>
				<h6>Работа с детьми</h6>
			</a>
			<div class="activity-hr"></div>
			<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
		</figure>
		<figure class="activity">
			<a class="activity-link" href="#">
				<div class="activities-image">
					<div class="activities-gear"></div>
					<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
				</div>
				<h6>Работа с детьми</h6>
			</a>
			<div class="activity-hr"></div>
			<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
		</figure>
		<figure class="activity">
			<a class="activity-link" href="#">
				<div class="activities-image">
					<div class="activities-gear"></div>
					<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
				</div>
				<h6>Работа с детьми</h6>
			</a>
			<div class="activity-hr"></div>
			<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
		</figure>
		<figure class="activity">
			<a class="activity-link" href="#">
				<div class="activities-image">
					<div class="activities-gear"></div>
					<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
				</div>
				<h6>Работа с детьми</h6>
			</a>
			<div class="activity-hr"></div>
			<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
		</figure>
		<figure class="activity">
			<a class="activity-link" href="#">
				<div class="activities-image">
					<div class="activities-gear"></div>
					<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
				</div>
				<h6>Работа с детьми</h6>
			</a>
			<div class="activity-hr"></div>
			<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
		</figure>
		<figure class="activity">
			<a class="activity-link" href="#">
				<div class="activities-image">
					<div class="activities-gear"></div>
					<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
				</div>
				<h6>Работа с детьми</h6>
			</a>
			<div class="activity-hr"></div>
			<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
		</figure>
		<div class="clear"></div>
	</div>
</section>