{% extends 'modular/modular-block.html.twig' %}

{% block content %}
<div class="textblock modular-section-header">
<h3 class="section-title">{{ page.title }}</h3>
{{ page.content }}
</div>

{% if form.message %}<div class="alert notices {{ form.message_color ?: 'green' }}"><p>{{ form.message }}</p></div>{% endif %}





{% set scope = scope ?: 'data.' %}
{% set multipart = '' %}
{% set method = form.method|upper|default('POST') %}

{% for field in form.fields %}
    {% if (method == 'POST' and field.type == 'file') %}
        {% set multipart = ' enctype="multipart/form-data"' %}
    {% endif %}
{% endfor %}

{% set action = form.action ? base_url ~ form.action : page.url %}
{% if (action == base_url_relative) %}
    {% set action = base_url_relative ~ '/' ~ page.slug %}
{% endif %}






<form name="{{ form.name }}" action="{{ action }}" method="{{ method }}"{% block form_classes %}{% if form.classes %} class="{{ form.classes }}"{% endif %}{% endblock %}>
    <div class="input-wrapper floatleft"><div class="input-placeholder">Имя</div><input name="data[name]" type="text" autocorrect="off" autocapitalize="words"></div>
	<div class="input-wrapper floatright"><div class="input-placeholder">Email или телефон</div><input type="text" name="data[contact]"></div>
	<div class="clear"></div>
	<div class="textarea-wrapper">
		<div class="textarea-placeholder">Сообщение</div>
		<textarea name="data[message]"></textarea>
	</div>
    
    
	<div class="center buttons form-buttons">
    {% for button in form.buttons %}
	    <button {% block button_classes %}class="{{ button.classes|default('button') }}"{% endblock %} type="{{ button.type|default('submit') }}">
            {{ button.value|t|default('Submit') }}
        </button>
	{% endfor %}
	</div>
    
    {{ nonce_field('form', 'form-nonce') }}
</form>

{% endblock %}