
		<header id="header" class="header">
			<nav class="header-menu maxwidth">
				{% include 'partials/navigation.html.twig' %}
				<a class="logo-link" href="{{ base_url == '' ? '/' : base_url }}"><img id="logo" src="{{ url('theme://images/logo.png') }}" data-src-big="{{ url('theme://images/logo.png') }}" data-src-small="{{ url('theme://images/logo-small.png') }}" alt="{{ config.site.title }}" title="{{ config.site.title }}"></a>
			</nav>
		</header>
		<div id="top" class="maxwidth"></div>
