{% extends 'modular/modular-block.html.twig' %}

{% block content %}
<h1>{{ 'LANDING.SLOGAN'|t }}</h1>
<div class="textblock" id="idea-text">

{{ page.content }}

</div>
<button id="idea-button" type="button" data-text-show="{{ 'LEARN_MORE'|t }}" data-text-hide="{{ 'HIDE'|t }}">{{ 'LEARN_MORE'|t }}</button>
{% endblock %}