{% embed 'partials/newbase.html.twig' %}
	{% block content %}

		<section id="idea">
			<div class="maxwidth">
				<h1>ФабЛаб - лаборатория для<br>воплощения ваших идей</h1>
				<div id="idea-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
				non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
				</div>
				<button id="idea-button" type="button">Подробнее</button>
			</div>
		</section>
		<section id="activities">
			<h3 class="section-title">Деятельность</h3>
			<div class="activities-wrapper maxwidth">
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<div class="clear"></div>
			</div>
		</section>
		<section id="courses">
			<h3 class="section-title">Курсы и мастер-классы</h3>
			<div class="maxwidth">
				
			</div>
		</section>
		<section id="news">
			<h3 class="section-title">Новости</h3>
			<div class="maxwidth">
				<figure class="news-article"></figure>
				<figure class="news-article"></figure>
				<figure class="news-article news-article-last"></figure>
				<div class="clear"></div>
				<a id="news-button" class="button news-button" href="#">Все новости</a>
			</div>
		</section>
		<section id="feedback">
			<h3 class="section-title">Напишите нам</h3>
			<div class="maxwidth">
				<form>
					<div class="input-wrapper floatleft"><div class="input-placeholder">Имя</div><input type="text" autocorrect="off" autocapitalize="words"></div>
					<div class="input-wrapper floatright"><div class="input-placeholder">Email или телефон</div><input type="text"></div>
					<div class="clear"></div>
					<div class="textarea-wrapper">
						<div class="textarea-placeholder">Сообщение</div>
						<textarea></textarea>
					</div>
					<div class="center">
						<button id="feedback-button" type="button">Отправить сообщение</button>
					</div>
				</form>
			</div>
		</section>

	{% endblock %}
{% endembed %}


