{% embed 'partials/newbase.html.twig' %}
	{% block content %}

		<section id="idea">
			<div class="maxwidth">
				<div class="idea-wrapper">
					<h1>{{ 'LANDING.SLOGAN'|t }}</h1>
					<div id="idea-text">
					
					{{ page.content }}
					
					</div>
					<button id="idea-button" type="button" data-text-show="{{ 'LEARN_MORE'|t }}" data-text-hide="{{ 'HIDE'|t }}">{{ 'LEARN_MORE'|t }}</button>
				</div>
			</div>
		</section>
		<section id="activities">
			<h3 class="section-title">{{ 'LANDING.ACTIVITIES'|t }}</h3>
			<div class="activities-wrapper maxwidth">
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<figure class="activity">
					<a class="activity-link" href="#">
						<div class="activities-image">
							<div class="activities-gear"></div>
							<img src="{{ url('theme://images/square-image.jpg') }}" alt="Работа с детьми">
						</div>
						<h6>Работа с детьми</h6>
					</a>
					<div class="activity-hr"></div>
					<p>Проектная работа — специальный вид курсов, где на протяжении одного проекта дети используют свои знания и умения самых разных областей, приумножая их.</p>
				</figure>
				<div class="clear"></div>
			</div>
		</section>
		<section id="courses">
			<h3 class="section-title">{{ 'LANDING.COURSES'|t }}</h3>
			<div class="maxwidth">
				
			</div>
		</section>
		<section id="news">
			<h3 class="section-title">{{ 'LANDING.NEWS'|t }}</h3>
			<div class="maxwidth">
				<figure class="news-article"></figure>
				<figure class="news-article"></figure>
				<figure class="news-article news-article-last"></figure>
				<div class="clear"></div>
				<a id="news-button" class="button news-button" href="#">Все новости</a>
			</div>
		</section>
		<section id="feedback">
			<h3 class="section-title">Напишите нам</h3>
			<div class="maxwidth">
				<form>
					<div class="input-wrapper floatleft"><div class="input-placeholder">Имя</div><input type="text" autocorrect="off" autocapitalize="words"></div>
					<div class="input-wrapper floatright"><div class="input-placeholder">Email или телефон</div><input type="text"></div>
					<div class="clear"></div>
					<div class="textarea-wrapper">
						<div class="textarea-placeholder">Сообщение</div>
						<textarea></textarea>
					</div>
					<div class="center">
						<button id="feedback-button" type="button">Отправить сообщение</button>
					</div>
				</form>
			</div>
		</section>

	{% endblock %}
{% endembed %}
